@media only screen and (min-width: 1024px){
	
}

@media only screen and (max-width: 1023px){
	.header-title{
		font-size: 22px;
	}
}

@media only screen and (max-width: 767px){
	.header-title{
		font-size: 20px;
	}	

}

@media only screen and (max-width: 639px){
	.header-title{
		font-size: 18px;
	}
	
}

@media only screen and (max-width: 567px){
	.header-title{
		font-size: 16px;
	}	
}


@media only screen and (max-width: 479px){
	.header-title{
		font-size: 14px;
	}
		
}

@media only screen and (max-width: 359px){
	.header-title{
		font-size: 12px;
	}
	
}
